@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{    
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 4rem;
    position: sticky;
}
.user{
	margin-right:-265px;
	font-size: 12px;
	box-sizing: border-box;
	font-weight: bold;
	border-bottom:1px solid rgb(31, 31, 216);
}
ul{
	margin-left: 130px;
}
ul , li{
    display: flex;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 2rem;
    font-size: 1.1rem;
}
header img{
    width: 6.25rem;
    height: 6.25rem;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 9.3rem;
    height: 3.1rem;
    background-color: #00a7ff;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}
a:hover{
    color:rgb(31, 31, 216) ;
}
.topnav {
    overflow: hidden;
    height: 100%;
    width: 130px;
    position: relative;
    display: none;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: right;
    font-weight: bold;
  }
  .topnav img{
      width: 100px;
      height: 100px;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    color: gray;
  }
  .topnav a:hover{
      color: rgb(31, 31, 216);
  }
  .topnav-logo{
      display: none;
  }
  .topnav-logo a{
      text-align: left;
      width: 150px;
      height: 80px;
  }
  
  /* Style the active link (or home/logo) */
  .active a{
    background-color: gray;
  }
  .line{
	width: 100%;
	height: 1px;
	background-color: #C3C3C8;
}
footer{
	width: 100%;
}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
}
.f-left{
	display: flex;
	margin-top: 300px;
	width: 411px;
	height: 380px;
	flex-direction: column;
	align-items: left;
    margin-right: 10rem;

}
.f-left img{
	margin-top: 83px;
	margin-bottom: 30px;
	width: 220px;
	height: 100px;
}
.f-text{
	width: 309px;
	height: 70px;
}
.mid-text{
	display: flex;
	flex-direction: column;
	margin-left: 52px;
	font-size: 18px;
	font-family: Nunito;
	margin-right: 45px;
}
.mid-text3{
	margin-left: 45px;
}
.f-right{
	display: flex;
	width: 411px;
	height: 380px;
	flex-direction: column;
	margin-left: 10px;
}
.logot{
	display: flex;
	flex-direction: row;
	width: 309px;
	margin-top: 30px;
}
.logo1{
	background-color: #EEEEEE;
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
}
.l-text{
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	color: #6A6975;
	left: 12px;
	top: 8px;
}
.logo2{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #27AE5D;
	margin-left: 13px; 
}
.logo2 img{
	width: 20px;
	height: 16px;
}
.twitter{
	position: absolute;
	top: -70px;
	left: 10px;
}
.logo3{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #EEEEEE;
	margin-left: 13px; 
}
.ff-text{
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	color: #6A6975;
	left: 16px;
	top: 9px;
}
.ff-right{
	margin-top: 125px;
	display: flex;
	flex-direction: column;
	text-align: right;
	height: 180px;
	width: 380px;
    margin-left: 10rem;
}
.ff-right p{
	font-size: 18px;
	color: #4E4D5A;
}
form{
	position: relative;
}
.search{
	text-align: left;
	position: relative;
	width: 366px;
	height: 50px;
	border-radius: 25px;
	background-color: #EEEEEE;
	margin-left: 18px;
	font-size: 18px;
	font-family: Nunito;
	margin-bottom: 38px;
	margin-top: 28px;
	border:none;
	padding-left: 30px;
}
.ff-right img{
	height: 11px;
	width: 17px;
}
.email-img{
	position: absolute;
	left: 95%;
	margin-top: -70px; 
}
.line-footer{
	height: 254px;
	width: 0.2px;
	background-color: #C3C3C8;
	margin-top: 91px;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	flex-wrap: wrap;
}
.upper-main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 80%;
}
.bottom-main{
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-top: 100px;
	margin-bottom: 100px;
}
@media screen and (max-width: 520px){
    header{
        display: none;
    }
    .topnav{
		display: inline-block;
        align-items: center;
		width: 100%;
	}
	.topnav-logo{
		display: block;
    }
    .footer{
		flex-direction: column;
		height: 100%;
	}
	.line-footer{
		display: flex;
		flex-direction: row;
		transform: rotate(-90deg);
	}
    .ff-right{
        margin-left: 1px;
    }
    .f-left{
        margin-right: 2px;
    }
	.upper-main{
		flex-direction: column;
	}
	.upper-main img{
		width: 400px;
	}
	.bottom-main{
			width: 400px;
	}
}
@media screen and (max-width:390px){
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
	.upper-main{
		flex-direction: row;
	}
	.bottom-main{
			flex-direction: row;
	}
}